body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
/* .colored-section.title {
  background-image: url("img/logo.png")
  color: #fff;
} */
.colored-section {
  background-color: black;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}


/* Title Section */
#title {
  background-size: auto;
  /* background-color: black; */
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 5% 10% 15% 10%;

}

/* Title Image */
.title-image {
  width: 80%;
  position: absolute;
  border-radius: 20%;
  opacity: 0.8;
  /* transform: rotate(25deg); */
  /* right: 30%; */
}

/* Features Section */
#features {
  position: relative;
  background-color: black;
}

video {
  width: 100%;
  background-color: black;
  border-radius: 5%;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

/* Testimonial Section */
#testimonials {
  background-color: black;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 25%;
  margin: 3% 2% 2% 2%;
  border-radius: 25%;
}

#press {
  background-color: black;
}

.press-logo {
  width: 15%;
  margin: 3% 2% 2% 2%;
  border-radius: 25%;
}

/* Menu Section */
#Menu {
  padding: 60px;
}


.Menu-column {
  padding: 3% 2%;
}

/* CTA Section */
/* Footer Section */
.social-icon {
  margin: 20px 10px;
  color: black;
}

em {
  display: block;
}

.table{
  width: 16px;
  height: 16px;
  margin: 0 0 47px 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
